*
{
    text-align: center;
    font-family: "Arial Black";
}

h1
{
    font-size: 30px;
}

h2
{
    font-size: 60px;
}

.button
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: blue;
}

#upper_hr
{
    border: 0px;
    height: 5px;
    background: linear-gradient(to bottom, lightgray, transparent);
}

ul
{
    list-style: none;
}

li
{
    float: left;
    margin-bottom: auto;
}

span
{
    font-size: 50px;
}